<%= render "shared/header" %>

<div class="stocks_main">
  <div class="stocks_top">
    <div class="stocks_title">Stocks</div>
    <ul class='stocks_lists'>
      <li class="request_list_article">品名</li>
      <li class="stocks_list_quantity">在庫数量</li>
      <li class="request_list_minimum_stock_level">必要最低数</li>
    </ul>
  </div>

  <div class="requests_bottom">
    <% @stocks.each do |stock| %>
      <%= link_to stock_path(stock.id) do %> 
        <ul class='stocks_input_lists'>
          <li class="request_list_article"><%= stock.article.name %></li>
          <li class="stocks_list_quantity"><%= stock.quantity %></li>
          <li class="request_list_minimum_stock_level"><%= stock.minimum_stock_level %></li>
        </ul>
      <% end %>
    <% end %>
  </div>

</div>

<%= render "shared/footer" %>