<%= render "shared/header" %>

<div class="request_main">
  <div class="request_contents">
    <div class="request_title">在庫を追加する</div>

    <div class="request_content">
      <%= form_with model: @article_stock, local: true, url: stocks_path do |f| %>
      <%= render 'shared/error_messages', model: f.object %>
        
        <div class="field">
          <%= f.label :name, "品名", class: "field-text" %><br />
          <%= f.text_field :name, class: "field-input", id: "name" %>
        </div>

        <div class="field">
          <%= f.label :quantity, "在庫数", class: "field-text" %><br />
          <%= f.text_field :quantity, class: "field-input", id: "quantity" %>
        </div>

        <div class="field">
          <%= f.label :minimum_stock_level, "必要最低数", class: "field-text" %><br />
          <%= f.text_field :minimum_stock_level, class: "field-input", id: "minimum_stock_level" %>
        </div>

        <div class="request_actions">
          <div class="actions">
            <%= f.submit "追加", class: "field-login-text" %>
          </div>
        </div>

      <% end %>
    </div>

  </div>
</div>

<%= render "shared/footer" %>