<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class="header">
  <div class="heading">
    <% if user_signed_in? %>
      <h1 class="logo"><%= link_to 'Supply Sync', authenticated_root_path %></h1>
    <% else %>
      <h1 class="logo"><%= link_to 'Supply Sync', unauthenticated_root_path %></h1>
    <% end %>
  </div>
  <div class="nav">
    <ul class='lists-right'>
      <% if user_signed_in? %>
        <% if current_user.affiliation_id == 2 %>
          <li><%= link_to '在庫一覧', inventory_path, class: 'inventory-link' %></li>
        <% elsif ![1, 2].include?(current_user.affiliation_id) %>
          <%= link_to new_request_path do %>
            <div class="header_icon_container">
              <%= image_tag("irai.png", alt: "Irai Avatar", class: "header_icon") %>
              <div class="icon_text">依頼する</div>
            </div>
          <% end %>
        <% end %>
        <% unless current_page?(mypage_path) %>
          <%= link_to mypage_path do %>
            <div class="header_icon_container">
              <%= image_tag("user.png", alt: "User Avatar", class: "header_icon") %>
              <div class="icon_text">マイページ</div>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
    </ul>
  </div>
</header>