<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class="header">
  <div class="heading">
    <% if user_signed_in? %>
      <h1 class="logo"><%= link_to 'Sync', authenticated_root_path %></h1>
    <% else %>
      <h1 class="logo"><%= link_to 'Sync', unauthenticated_root_path %></h1>
    <% end %>
  </div>
  <div class="nav">
    <ul class='lists-right'>
<% if user_signed_in? %>

  <% is_editing_stock = current_user.affiliation_id == 2 && controller_name == 'stocks' && ['edit', 'update'].include?(action_name) %>
  <% is_editing_request = controller_name == 'requests' && action_name == 'edit' %>
  <% is_creating_request = controller_name == 'requests' && ['new', 'create'].include?(action_name) %>

  <% if current_user.affiliation_id == 2 && controller_name == 'requests' && ['index', 'show'].include?(action_name) %>
    <%= link_to stocks_path do %>
      <div class="header_icon_container">
        <%= image_tag("boxes2.png", alt: "Close", class: "header_icon") %>
        <div class="icon_text">在庫一覧</div>
      </div>
    <% end %>
  <% end %>

  <% if current_user.affiliation_id == 2 && controller_name == 'stocks' && action_name == 'index' %>
    <%= link_to new_stock_path do %>
      <div class="header_icon_container">
        <%= image_tag("puls2.png", alt: "Irai Avatar", class: "header_icon") %>
        <div class="icon_text">品名を追加</div>
      </div>
    <% end %>
  <% end %>

  <% if current_user.affiliation_id != 1 && current_user.affiliation_id != 2 && controller_name == 'requests' && ['index', 'show'].include?(action_name) %>
    <%= link_to new_request_path do %>
      <div class="header_icon_container">
        <%= image_tag("irai2.png", alt: "Irai Avatar", class: "header_icon") %>
        <div class="icon_text">依頼する</div>
      </div>
    <% end %>
  <% end %>

  <% if is_editing_request %>
    <%= link_to request_path(@request) do %>
      <%= image_tag("close3.png", alt: "Close", class: "close_icon") %>
    <% end %>
  <% elsif is_creating_request %>
    <%= link_to requests_path do %>
      <%= image_tag("close.png", alt: "Close", class: "close_icon") %>
    <% end %>
  <% elsif is_editing_stock || (current_user.affiliation_id == 2 && controller_name == 'stocks' && ['new', 'create'].include?(action_name)) %>
    <%= link_to stocks_path do %>
      <%= image_tag("close2.png", alt: "Close", class: "close_icon") %>
    <% end %>
  <% end %>

  <% unless is_editing_request || is_editing_stock || is_creating_request || (controller_name == 'requests' && ['new', 'create'].include?(action_name)) || (controller_name == 'stocks' && ['new', 'create'].include?(action_name)) %>
    <%= link_to mypage_path do %>
      <div class="header_icon_container">
        <%= image_tag("user2.png", alt: "User Avatar", class: "header_icon") %>
        <div class="icon_text">マイページ</div>
      </div>
    <% end %>
  <% end %>

<% else %>
  <%= link_to new_user_session_path do %>
    <div class="header_icon_container">
      <%= image_tag("user2.png", alt: "User Avatar", class: "header_icon") %>
      <div class="icon_text">ログイン</div>
    </div>
  <% end %>
<% end %>



    </ul>
  </div>
</header>