<%= render "shared/header" %>

<div class="requests_main">

  <div class="requests_top">
    <div class="requests_title">Requests</div>
    <ul class='requests_lists'>
      <li class="request_list_request_time">時間</li>
      <li class="request_list_affiliation">支店 / 依頼者</li>
      <li class="request_list_article">品名</li>
      <li class="request_list_quantity">数量</li>
      <li class="request_list_status">状況</li>
      <li class="request_list_response_user">対応者</li>
    </ul>
  </div>

  <div class="requests_bottom">
    <% @requests.each do |request| %>
      <%= link_to request_path(request.id) do %> 
        <ul class='request_input_lists'>
          <li class="request_list_request_time"><%= l request.request_time %></li>
          <li class="request_list_affiliation"><%= "#{request.user.affiliation.name} / #{request.user.lastname}" %></li>
          <li class="request_list_article"><%= request.article.name %></li>
          <li class="request_list_quantity"><%= request.quantity %></li>
          <li class="request_list_status"><%= request.status %></li>
          <li class="request_list_response_user"><%= request.response_user&.lastname || '' %></li>
        </ul>
      <% end %>
    <% end %>
  </div>

</div>

<%= render "shared/footer" %>