<%= render "shared/header" %>

<div class="requests_main">

  <div class="requests_top">
    <div class="requests_title">全ての依頼</div>
    <ul class='requests_lists'>
      <li class="requests_list">時間</li>
      <li class="requests_list">支店／依頼者</li>
      <li class="requests_list">品名</li>
      <li class="requests_list">数量</li>
      <li class="requests_list">状況</li>
      <li class="requests_list">対応者</li>
    </ul>
  </div>

  <div class="requests_bottom">
    <% @requests.each do |request| %>
      <%= link_to request_path(request.id) do %> 
        <ul class='request_input_lists'>
          <li class="request_input_list"><%= l request.request_time %></li>
          <li class="request_input_list"><%= request.user.affiliation.name %></li>
          <li class="request_input_list"><%= request.article.name %></li>
          <li class="request_input_list"><%= request.quantity %></li>
          <li class="request_input_list"><%= request.status %></li>
          <li class="request_input_list"><%= request.response_user&.name %></li>
        </ul>
      <% end %>
    <% end %>
  </div>

</div>

<%= render "shared/footer" %>